{% load static %}
{% load bootstrap5 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'polls/fontawesome/css/all.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "polls/scss/style.scss" %}">
</head>
<body>
    <div class="registration-container">
        <h2>Регистрация</h2>
        <form id="registrationForm" method="POST">
            {% csrf_token %}
            
            <div class="form-group">
                <i class="fas fa-user form-icon"></i>
                <input type="text" id="id_first_name" name="first_name" required placeholder=" ">
                <label for="id_first_name" class="label-placeholder">Имя</label>
            </div>
            <div class="form-group">
                <i class="fas fa-user form-icon"></i>
                <input type="text" id="id_last_name" name="last_name" required placeholder=" ">
                <label for="id_last_name" class="label-placeholder">Фамилия</label>
            </div>
            <div class="form-group">
                <i class="fas fa-phone form-icon"></i>
                <input type="tel" id="id_phone_number" name="phone_number" required placeholder=" ">
                <label for="id_phone_number" class="label-placeholder">Номер телефона</label>
            </div>
            <div class="form-group">
                <i class="fas fa-envelope form-icon"></i>
                <input type="email" id="id_email" name="email" required placeholder=" ">
                <label for="id_email" class="label-placeholder">Электронная почта</label>
            </div>
            <div class="form-group">
                <i class="fas fa-lock form-icon"></i>
                <input type="password" id="id_password" name="password" required placeholder=" ">
                <label for="id_password" class="label-placeholder">Пароль</label>
            </div>
            <div class="form-group">
                <i class="fas fa-lock form-icon"></i>
                <input type="password" id="id_confirm_password" name="confirm_password" required placeholder=" ">
                <label for="id_confirm_password" class="label-placeholder">Подтверждение пароля</label>
            </div>
            <div>
                Есть аккаунт?<a href="{% url 'login' %}"> Войти</a>
            </div>  
            <button type="submit" id="submitBtn">Зарегистрироваться</button>
        </form>
    </div>

    <script>
        function validatePasswordMatch() {
            const password = document.getElementById('id_password');
            const confirmPassword = document.getElementById('id_confirm_password');
            const passwordMatchMessage = document.getElementById('passwordMatchMessage');
            const submitBtn = document.getElementById('submitBtn');

            if (password.value !== confirmPassword.value) {
                passwordMatchMessage.style.display = 'block'; 
                submitBtn.disabled = true;  
            } else {
                passwordMatchMessage.style.display = 'none'; 
                submitBtn.disabled = false;  
            }
        }

        document.getElementById('id_password').addEventListener('input', validatePasswordMatch);
        document.getElementById('id_confirm_password').addEventListener('input', validatePasswordMatch);

        document.getElementById('id_phone_number').addEventListener('input', function() {
            const phoneNumber = this.value;
            const phonePattern = /^(?:\+375)?(?:29|33|44|25|17)\d{7}$/;
            
            if (!phonePattern.test(phoneNumber)) {
                this.setCustomValidity('Please enter a valid phone number (10-15 digits).');
            } else {
                this.setCustomValidity(''); 
            }
        });

        document.getElementById('id_email').addEventListener('input', function() {
            const email = this.value;
            const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/; 
            if (!emailPattern.test(email)) {
                this.setCustomValidity('Please enter a valid email address.');
            } else {
                this.setCustomValidity('');
            }
        });

        document.getElementById('registrationForm').addEventListener('submit', function(event) {
            if (document.getElementById('passwordMatchMessage').style.display === 'block') {
                event.preventDefault();
            }
        });
    </script>


</body>
</html>
