{% load static %}
{% load bootstrap5 %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'properties/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'properties/scss/add_property.scss' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <title>Ваше объявление</title>
    
</head>

<body>
    {% include 'properties/elements/header.html' %}

    <div class="container">
        {% block content %} 
        <h2>Ваше объявление</h2>
        <form id="propertyForm" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <i class="fas fa-heading form-icon"></i>
                <input type="text" id="id_title" name="title" placeholder=" " required>
                <label for="id_title" class="label-placeholder">Заголовок</label>
            </div>
            
            <div class="form-group">
                <i class="fas fa-align-left form-icon-des"></i>
                <textarea id="id_description" name="description" rows="4" placeholder=" "></textarea>
                <label for="id_description" class="label-placeholder">Описание</label>
            </div>
            
            <div class="form-group">
                <i class="fas fa-dollar-sign form-icon"></i>
                <input type="number" id="id_price" name="price" step="1" placeholder="">
                <label for="id_price" class="label-placeholder">Цена</label>
            </div>
            
            <div class="form-group">
                <i class="fas fa-map-marker-alt form-icon"></i>
                <input type="text" id="id_location" name="location" placeholder=" ">
                <label for="id_location" class="label-placeholder">Адрес</label>
            </div>
            
            <div class="form-group">
                <i class="fas fa-ruler-combined form-icon"></i>
                <input type="number" id="id_size" name="size" step="0.1" placeholder=" ">
                <label for="id_size" class="label-placeholder">Площадь</label>
            </div>
            

            <button type="submit" class="btn btn-primary mt-3">Подать объявление</button>
        </form>
    {% endblock %} 

    </div> 

</body>
</html>
