{% load static %}
{% load django_bootstrap5 %}

<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'properties/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'properties/scss/main.scss' %}">
    <title>Главная</title>
</head>

<body>
    {% include 'properties/elements/header.html' %}
        <div class="image-section" style="background-image: url('{% static 'properties/images/main_bg1.jpg' %}')">
            <div class="content-section">
                <h1>Найдите свой<h1>
                <h1 class="endh1">идеальный дом</h1>
                <p>“Каждый дом - это история, начни свою с нами”</p>
                <div class="button-group">
                    <a href="{% url 'home_page' %}" class="btn btn-gray">Смотреть объявления</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'login' %}" class="btn btn-red">Зарегистрироваться / Войти</a>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-red">Зарегистрироваться / Войти</a>
                {% endif %}
                </div>
            </div>
        </div>
    {% include 'properties/elements/footer.html' %}
</body>
</html>
