{% load static %}
{% load bootstrap5 %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'properties/fontawesome/css/all.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'properties/scss/prop_detail.scss' %}">
    <title>Список недвижимости</title>   
</head>
<body>
{% include 'properties/elements/header.html' %}

{% block content %}
    <div class="container">
        <h2 class="title">{{ property.title }}</h2>

        <div class="property-image-container">
            {% if property.images.all %}
                <img src="{{ property.images.first.image.url }}" alt="Property Image" class="property-image">
            {% else %}
                <img src="{% static 'properties/images/default.jpg' %}" alt="No Image Available" class="property-image">
            {% endif %}
        </div>
        <p><strong>Цена:</strong> ${{ property.price }}</p>
        <p><strong>Адрес:</strong> {{ property.location }}</p>
        <p><strong>Площадь:</strong> {{ property.size }} м²</p>
        {% csrf_token %}
        <p><strong>Номер продавца:</strong> {{ property.owner.phone_number }}</p>
        <p><strong>Email продавца:</strong> {{ property.owner.email }}</p>
        <p><strong class="description">Описание:</strong> {{ property.description }}</p>


    </div>
{% endblock %}
{% include 'properties/elements/footer.html' %}

</body>