a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.registration-container {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 400px;
    text-align: center;
}

.form-group {
    position: relative;
    margin: 20px 0;
}

input {
    width: 100%;
    padding: 12px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.2s;
    background-color: #fff;
    outline: none;
    border-bottom: 1px solid #ccc;
    line-height: 1.5;
    height: 40px;
}

.form-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
}

.label-placeholder {
    cursor: auto;
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 16px;
    color: #999;
    transition: 0.2s ease all;
    background-color: white;
    padding: 0 5px;
}

input:focus + .label-placeholder,
input:not(:placeholder-shown) + .label-placeholder {
    top: -10px;
    left: 10px;
    font-size: 14px;
    color: #848282;
}

input:focus {
    border-color: #292929;
}

button {
    transition: all .25s;
    background-color: #ff2e2e;
    color: white;
    border: none;
    border-radius: 10px;
    width: 60%;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 15px;
}

button:hover {
    background-color: #da2929;
    transition: all .25s linear;
}

small {
    display: block;
    margin-top: 10px;
    color: red;
}
